@import "tailwindcss";

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547;
  background-color: #ffffff;
}

@theme {
  --color-primary: #b91879;
  --color-gray-foreground: #7e7e7e;
  --background-image-card: url("assets/bg-card.svg");
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a.opacity-hover:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ebebeb;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


} */
